.Welcome {
    color: white;
    padding: 10px 0;
    text-align: center;
    background-image: url(C:\Users\Chetan1.Jagtap\Documents\React-Iphone\iphone-website-clone\src\download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px; /* Add margin to create space */
}

.logo-container {
    display: inline-block;
    padding: 10px;
  }
  
  .logo {
    height: 50px;
    margin-right: 10px;
  }