.Product {
    color: white;
    padding: 10px 0;
    text-align: center;
    background-image: url(C:\Users\Chetan1.Jagtap\Documents\React-Iphone\iphone-website-clone\src\titanium.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px; /* Add margin to create space */
  }
  
  .product-heading {
    /* Styles for the heading */
    text-align: right;
  }
  
  .product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-image {
    /* Styles for the image */
  }
  
  .product-name {
    /* Styles for the product name */
  }
  